^{:auto-testing true
  :extra-main-files {:todo {:main examples.todo.core}
                     :clock {:main examples.clock.core}
                     :products {:main examples.products.core}
                     :todo-reacl1 {:main examples.todo-reacl1.core}
                     :tabs {:main examples.tabs.core}
                     :arranger {:main examples.arranger.core}}
  :open-url "http://[[server-hostname]]:[[server-port]]/figwheel-extra-main/auto-testing"
  :watch-dirs ["src" "test-nodom" "test-dom" "examples"]}
{:main reacl2.test.runner}
