^{:auto-testing true
  :extra-main-files {:todo {:main examples.todo.core}
                     :products {:main examples.products.core}
                     :todo-reacl1 {:main examples.todo-reacl1.core}}
  :watch-dirs ["src" "test-nodom" "test-dom" "examples"]}
{:main reacl2.test.runner}
